:root {
	--e-global-color-vamtam_accent_1: #010ed0;
	--e-global-color-vamtam_accent_2: #f5f5f5;
	--e-global-color-vamtam_accent_3: #5f6567;
	--e-global-color-vamtam_accent_4: #dee0ff;
	--e-global-color-vamtam_accent_5: #ffffff;
	--e-global-color-vamtam_accent_6: #242627;
	--e-global-color-vamtam_accent_7: rgba(0, 0, 0, 0.149);
	--e-global-color-vamtam_accent_8: rgba(0, 0, 0, 0.6);
	--e-global-color-vamtam_sticky_header_bg_color: #010ed0;
	--e-global-color-a9cf77f: #0a0d31;
	--e-global-color-8a42445: rgba(245, 245, 241, 0.702);
	--color-white: #fff;

	--transition: all 0.5s ease;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	border: 0;
}
body {
	font-size: 0.9rem;
	color: var(--e-global-color-vamtam_accent_3);
	font-family: 'Poppins', sans-serif;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
h2 {
	font-size: 2.8rem;
	color: var(--e-global-color-a9cf77f);
}

/* --- Reusable CSS --- */
.container {
	width: 1200px;
	margin: 0 auto;
}

.section {
	padding: 5rem 0;
}
.section-pad {
	padding-bottom: 5rem;
}
.grid-column-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.grid-column-three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.grid-column-four {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.grid-column-five {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.btn {
	display: block;
	line-height: 45px;
	padding: 0 1.5rem;
	background: var(--e-global-color-vamtam_accent_1);
	color: var(--color-white);
	border-radius: 0.3rem;
	transition: var(--transition);
	font-weight: 600;
}

.btn:hover {
	background: var(--e-global-color-vamtam_accent_6);
}

.mr-top {
	margin-top: 5rem;
}
.sub-heading2 {
	background: var(--e-global-color-vamtam_accent_4);
	color: var(--e-global-color-vamtam_accent_3);
	margin-bottom: 1rem;
	font-weight: 500;
	max-width: fit-content;
	padding: 0.3rem 0.5rem;
	border-radius: 0.3rem;
}
input {
	display: block;
	line-height: 35px;
	padding: 0 1rem;
	border: 1px solid #e6e6e6;
	border-radius: 0.3rem;
	width: 100%;
}
/* --- Header section --- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* border-bottom: 1px solid rgb(211 211 211 / 91%); */
	/* background: var(--color-white); */
	z-index: 99;
}

header.active {
	background: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.header-main-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	/* border-bottom: 1px solid rgb(211 211 211 / 91%); */
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}
.header-contact-info {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}
.logo {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--color-white);
}

nav ul li a {
	font-size: 1rem;
	color: var(--color-white);
	font-weight: 500;
	transition: var(--transition);
	padding: 1.8rem 0;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
nav ul li a i {
	font-size: 0.6rem;
}
nav ul li a:hover {
	color: var(--e-global-color-vamtam_accent_4);
}

.client-support {
	background-color: var(--e-global-color-vamtam_accent_2);
	padding: 0.1rem 1rem;
	margin-bottom: 0.2rem;
	color: var(--e-global-color-vamtam_accent_3);
	font-size: 0.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-weight: 500;
	border-radius: 0.3rem;
}
.header-contact-info .btn:hover {
	background: var(--e-global-color-vamtam_accent_4);
	color: var(--e-global-color-vamtam_accent_6);
}
.cutomer-srvc {
	color: var(--color-white);
	font-weight: 600;
}
.contact-from {
	background: var(--e-global-color-vamtam_accent_1);
	color: var(--color-white);
	padding: 0.8rem 1.2rem;
	border-radius: 0.3rem;
}
.main-links {
	position: relative;
}

.sub-links-container {
	position: absolute;
	top: 80px;
	left: -200px;
	width: 800px;
	height: auto;
	padding: 2rem 2rem;
	display: flex;
	justify-content: space-between;
	/* gap: 5rem; */
	visibility: hidden;
	transform: scale(1, 0);
	transform-origin: 0 0;
	opacity: 0;
	/* box-shadow: 0 5px 3px rgb(0 0 0 / 12%); */
	border: 1px solid rgb(0 0 0 / 12%);
	transition: all 0.3s ease;
	background: var(--color-white);
	z-index: 50;
}

.main-links:hover .sub-links-container {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

nav ul .header-services-links ul {
	display: block;
}
nav ul .header-services-links ul li {
	margin-bottom: 0.8rem;
}
nav ul .header-services-links ul li a {
	font-size: 0.9rem;
	padding: 0;
	color: var(--e-global-color-vamtam_accent_3);
}
nav ul .header-services-links ul li a:hover {
	color: var(--e-global-color-vamtam_accent_1);
}
.header-services-links h4 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--e-global-color-vamtam_accent_6);
	margin-bottom: 0.8rem;
}
.header-services-links2 h4 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--e-global-color-a9cf77f);
	margin-bottom: 0.8rem;
}
.header-services-links2 .grid-column-two {
	gap: 2rem;
}

.business-challenges-box {
	display: block;
	border: 1px solid var(--e-global-color-vamtam_accent_4);
	padding: 1.5rem 1rem;
	border-radius: 0.3rem;
}
.business-challenges-box:hover {
	border-color: var(--e-global-color-vamtam_accent_1);
}
.business-challenges-box span {
	display: block;
	margin-bottom: 0.8rem;
	color: var(--e-global-color-vamtam_accent_3);
}

.business-challenges-box span i {
	font-size: 1.5rem;
	color: var(--e-global-color-vamtam_accent_1);
}
.business-challenges-box h5 {
	font-size: 0.8rem;
	font-weight: 500;
	color: var(--e-global-color-vamtam_accent_3);
}
.business-challenges-box:hover h5 {
	color: var(--e-global-color-vamtam_accent_1);
}
.header-services-links2 ul {
	display: block;
}

.company-links .sub-links-container {
	left: -542px;
	width: 1345px;
	padding: 0;
}
.header-services-links2 ul li a {
	padding: 0;
}
.company-links .header-services-links h4 {
	max-width: 250px;
}

.width-header-heading {
	width: 45%;
	padding: 2rem 2rem 0 5rem;
}

.width-header {
	width: 30%;
	padding: 2rem 0rem;
}

.company-links .other-links ul li a {
	color: var(--e-global-color-vamtam_accent_3);
	font-size: 0.9rem;
}

.company-links .other-links ul li a:hover {
	color: var(--e-global-color-vamtam_accent_1);
}
.company-links .other-links ul li {
	margin-bottom: 0.8rem;
}

.link-bg {
	background: var(--e-global-color-vamtam_accent_2);
	padding: 2rem;
}

.link-bg ul li {
	color: var(--e-global-color-vamtam_accent_3);
	margin-bottom: 0.8rem;
	font-weight: 500;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.link-bg ul li img {
	width: 25px;
}

/* --- Hero section --- */

.hero-sec {
	background: url('../img/herobanner2.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.hero-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.hero-content {
	color: var(--color-white);
	margin-top: 5.5rem;
}
.hero-content h1 {
	font-size: 3rem;
	font-weight: 600;
	max-width: 617px;
	line-height: 1.2;
	margin-bottom: 2rem;
}

.hero-content p {
	font-size: 1.3rem;
	max-width: 550px;
	margin-bottom: 2rem;
}

.hero-btn {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}
.hero-srvc {
	background: var(--e-global-color-vamtam_accent_4);
	color: var(--e-global-color-vamtam_accent_1);
}
.hero-srvc:hover {
	background: var(--color-white);
	color: var(--e-global-color-vamtam_accent_6);
}

.btn-hero:hover {
	background: var(--color-white);
	color: var(--e-global-color-vamtam_accent_6);
}

/* --- What We Do section --- */
.usp .grid-column-five {
	align-items: center;
	gap: 1.5rem;
}

.review p {
	font-size: 0.8rem;
	font-weight: 600;
}
.review p span {
	color: #fe3d2e;
	font-size: 1rem;
}

.count-review {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.count-review a {
	color: var(--e-global-color-vamtam_accent_3);
	font-size: 0.8rem;
	padding-top: 0.5rem;
	font-weight: 600;
}
.we-do-box h5 {
	font-size: 2rem;
	font-weight: 500;
	color: var(--e-global-color-a9cf77f);
}
.we-do-box h5 span {
	font-size: 1rem;
}

.we-do-box p {
	color: var(--e-global-color-vamtam_accent_6);
	font-weight: 400;
	font-size: 1rem;
}
.we-do-box {
	position: relative;
	padding-left: 1.5rem;
	margin-bottom: 4rem;
}

.we-do-box::after {
	content: '';
	position: absolute;
	top: 0rem;
	left: 0rem;
	height: 2rem;
	width: 0.2rem;
	background: var(--e-global-color-vamtam_accent_7);
	border-radius: 0.2rem;
}

.we-do-box:first-child {
	padding-left: 0;
}
.we-do-box:first-child::after {
	display: none;
}
.what-we-do-content {
	background: var(--e-global-color-vamtam_accent_6) url('../img/shape-dots.svg')
		no-repeat 90% 50%;
	background-attachment: fixed;
	padding: 2rem;
	height: 330px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 0.5rem;
	margin-bottom: 5rem;
}
.sub-heading {
	color: var(--e-global-color-vamtam_accent_4);
	background: #202020;
	max-width: fit-content;
	padding: 0.3rem 0.5rem;
	border-radius: 0.3rem;
	font-weight: 400;
}

.what-we-do-content h6 {
	font-size: 3rem;
	max-width: 500px;
	color: var(--e-global-color-vamtam_accent_4);
	font-weight: 500;
}

.we-do-card-conatiner .grid-column-four {
	gap: 2rem;
}

.we-do-card-box h5 {
	font-size: 1.4rem;
	color: var(--e-global-color-a9cf77f);
	font-weight: 600;
	margin: 1rem 0;
}
.btn-about {
	max-width: fit-content;
	margin: 3rem auto 0;
}

/* --- Services section --- */

.service-sec {
	background-image: linear-gradient(180deg, #afc6e6 0%, #e9e6ef 100%);
}
.service-sec h2 {
	margin: 1rem 0;
}
.service-sec .sub-heading {
	background: var(--e-global-color-vamtam_accent_2);
	color: var(--e-global-color-vamtam_accent_3);
	font-weight: 600;
}

.service-sec .grid-column-three {
	gap: 2rem;
}
.services-card {
	background: var(--color-white);
	padding: 2rem;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	z-index: 5;
	transition: var(--transition);
}
.services-card .btn {
	max-width: fit-content;
}
.srvc-image img {
	mix-blend-mode: darken;
}

.srvc-heading {
	font-size: 1.5rem;
	color: var(--e-global-color-a9cf77f);
	font-weight: 600;
	margin: 1rem 0;
	display: block;
	max-width: fit-content;
	transition: var(--transition);
}
.services-card p {
	line-height: 1.6;
	margin-bottom: 1.5rem;
}
.services-card:hover .srvc-heading {
	color: var(--e-global-color-vamtam_accent_1);
}
.services-card:hover {
	box-shadow: 0 0px 20px rgb(193 193 193);
}

.services-card::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	/* background-image: linear-gradient(
		-180deg,
		#fff,
		var(--e-global-color-vamtam_accent_1) 100%
	); */
	background: linear-gradient(
		-180deg,
		rgba(255, 255, 255, 1) 0%,
		var(--e-global-color-vamtam_accent_1) 100%
	);

	z-index: -1;
	transition: var(--transition);
}

.services-card:hover::after {
	height: 100%;
}

.services-card:hover.services-card p {
	color: var(--color-white);
}
.services-card:hover .srvc-heading {
	color: var(--color-white);
}
.services-card:hover .btn {
	background: var(--e-global-color-vamtam_accent_4);
	color: var(--e-global-color-a9cf77f);
}

/* ---- Services Solution Section ---- */
.srvc-solution-sec {
	padding-top: 5rem;
}
.srvc-solution-container {
	width: 800px;
	margin: 0 auto;
}
.srvc-solution-content h2 {
	margin-bottom: 1rem;
	line-height: 1.3;
}
.srvc-solution-content p {
	line-height: 1.6;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	font-weight: 200;
	color: var(--e-global-color-a9cf77f);
}
.srvc-solution-content .btn {
	max-width: fit-content;
}

/* ---- Success Story Section ---- */
.success-sec .grid-column-three {
	gap: 1.5rem;
}
.success-sec h2 {
	margin-bottom: 1rem;
}
.success-card {
	padding: 1.5rem;
	border: 1px solid var(--e-global-color-vamtam_accent_7);
	border-radius: 0.5rem;
}
.success-image {
	margin-bottom: 1rem;
}
.success-image img {
	width: 100%;
	border-radius: 0.5rem;
}
.company-type-link {
	display: block;
	color: #adadad;
	transition: var(--transition);
	max-width: fit-content;
	font-size: 0.8rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
.company-type-link:hover {
	color: var(--e-global-color-vamtam_accent_1);
}
.company-info-link {
	display: block;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	color: var(--e-global-color-a9cf77f);
	max-width: fit-content;
	font-weight: 500;
}
.company-info-link:hover {
	color: var(--e-global-color-vamtam_accent_1);
}
.success-card p {
	line-height: 1.6;
	margin: 1rem 0;
}
.success-card ul {
	margin-bottom: 1rem;
}
.success-card ul li {
	margin-bottom: 0.5rem;
}
.success-card .btn {
	max-width: fit-content;
}

/* ---- Testimonials Section ---- */
.slider-image {
	margin-bottom: 1rem;
}
.slider-image img {
	width: 20%;
	border-radius: 0.5rem;
}

.slider-box p {
	font-weight: 400;
	font-size: 1rem;
	color: var(--e-global-color-a9cf77f);
	margin-bottom: 0.5rem;
	line-height: 1.8;
}
.slider-content-box span {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.slider-content-box span i {
	color: rgb(255, 255, 0);
}
.client-info h4 {
	color: var(--e-global-color-a9cf77f);
	font-size: 1.3rem;
}
.slider-content-box {
	background: var(--color-white);
	padding: 1rem;
	border-radius: 0.5rem;
	position: relative;
	margin-bottom: 3rem;
	box-shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}
.shape {
	position: absolute;
	bottom: -20px;
	left: 230px;
	height: 5rem;
	width: 5rem;
	background: var(--color-white);
	transform: rotate(-45deg);
	box-shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
	z-index: -1;
}
.client-info {
	text-align: center;
}
.testimonials-slider .slick-list {
	padding: 3rem 0.5rem 2rem !important;
}
.slider-box {
	margin: 0 1rem;
	cursor: grab;
}

.testimonials-slider ul {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}
.testimonials-slider ul li button {
	font-size: 0;
	height: 0.3rem;
	width: 1.5rem;
	border-radius: 5rem;
	background: var(--e-global-color-vamtam_accent_7);
	overflow: hidden;
	transition: var(--transition);
	cursor: pointer;
}

.testimonials-slider ul li.slick-active button {
	background: var(--e-global-color-vamtam_accent_1);
}

/* ---- Contact Section ---- */
.contact-bg-one {
	background: var(--e-global-color-vamtam_accent_6);
	padding: 3rem 0;
}
.contact-bg-two {
	background-image: linear-gradient(180deg, #afc6e6 0%, #e9e6ef 100%);
}

.contact-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 200px;
}
.contact-content p {
	color: var(--e-global-color-vamtam_accent_4);
	font-size: 1.5rem;
	max-width: 600px;
	font-weight: 500;
}

.content-info-content {
	padding: 3rem 0 6.5rem;
}
.contact-num {
	color: var(--e-global-color-a9cf77f);
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 2rem;
	display: block;
	max-width: fit-content;
	position: relative;
}
.contact-num::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.2rem;
	width: 0;
	background: var(--e-global-color-a9cf77f);
	transition: var(--transition);
}
.contact-num:hover::before {
	width: 100%;
}
.our-usps h5 {
	color: var(--e-global-color-a9cf77f);
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.cnt-one ul li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
}
.cnt-one ul li span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	background: var(--e-global-color-vamtam_accent_1);
}
.cnt-one ul li span i {
	color: var(--color-white);
	font-size: 0.5rem;
}
.our-usps {
	margin-bottom: 2rem;
}
.next-step h5 {
	color: var(--e-global-color-a9cf77f);
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 1.2rem;
}
.next-step ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.next-step ul li {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.next-step ul li span {
	font-size: 1.5rem;
	color: var(--e-global-color-a9cf77f);
	font-weight: 600;
}
.arrow {
	font-size: 1rem;
}

.form-box label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--e-global-color-a9cf77f);
}
.form-box {
	margin-bottom: 1rem;
}
.form-container {
	background: var(--color-white);
	padding: 2rem;
	border-radius: 0.5rem;
}
.conatct-sec {
	position: relative;
}
.contact-form {
	position: absolute;
	top: 5rem;
	right: 3.8rem;
}
.form-container h5 {
	font-size: 1.3rem;
	color: var(--e-global-color-a9cf77f);
	text-align: center;
	margin-bottom: 1.5rem;
	font-weight: 500;
	border-bottom: 1px solid var(--e-global-color-vamtam_accent_7);
	padding-bottom: 1rem;
}
.form-box textarea {
	border: 1px solid #e6e6e6;
	width: 100%;
	height: 7rem;
	padding: 1rem;
	font-family: 'Poppins', sans-serif;
}

.form-container .grid-column-two {
	gap: 1rem;
}
